/* Utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* end Utility */

/* Header */
.fix_head{
    position: fixed;
    top: 3%;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 9999;
}

.number{
    border: 0.1rem solid #414040;
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    background-color: #faf0e1;
    
}

.number_contain{
    position: absolute;
    top: 20%;
    right: 2%;
}
/* end Header */

.contain{
    height: 100VH;
    position: relative;
}

/* Shoes */
.shoes_txt, .img_contain{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding-bottom: 5%;
    text-align: center;
}

.shoes_img{
    max-width: 100%;
}

.shoes_txt{
    font-size: 2.5VW;
    padding-top: 35%;
    
}

/* Shoes background */
.red{
    background-color: #ff0000;
    color: #ffff00;
}
.green{
    background-color: #008000;
    color: #ffff00;
}
.yellow{
    background-color: #ffff00;
    color: #008000;
}
/* Shoes background */

/* end Shoes */